.toolbar {
  width: 500px;
  height: 40px;
  padding: 8px;
  border-radius: 4px;
  background-color: salmon;
  box-sizing: border-box;
}
.toolbar button {
  height: 24px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}
.toolbar button:hover {
  background-color: gray;
}
.editor {
  border-radius: 4px;
  width: 500px;
  height: 600px;
  border: 2px solid black;
  box-sizing: border-box;
  outline: none;
  padding: 16px;
  font-size: 12px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.editor.bold {
  font-weight: bold;
}
.editor.italic {
  font-style: italic;
}
